// contains only styles necessary to display components in the preview frame.
// should be limited to the actual styles needed for that purpose only and avoid any interference with the classes that are displayed
@import (reference) "inc/variables.less";
@import (reference) "inc/bootstrap.less";

.styleguide-preview {
	margin: 0 !important;
	padding: 0 !important;

	body {
		margin: 0 !important;
		padding: 0 !important;
	}

	&__element {
		width: 100%;
	}

	&__preview {
		
		.styleguide-preview__element {
			padding: @styleguide-wrapper-padding/2 @styleguide-wrapper-padding;

			@media (min-width: @screen-md-min) {
				padding: @styleguide-wrapper-padding-md/3 @styleguide-wrapper-padding-md;
			}
		}

		&--xs-2 .styleguide-preview__element { width: percentage(6/12); }
		&--xs-3 .styleguide-preview__element { width: percentage(4/12); }
		&--xs-4 .styleguide-preview__element { width: percentage(3/12); }
		&--xs-6 .styleguide-preview__element { width: percentage(2/12); }
		&--xs-12 .styleguide-preview__element { width: 100% }

		@media (min-width: @screen-sm-min) {
			&--sm-2 .styleguide-preview__element { width: percentage(6/12); }
			&--sm-3 .styleguide-preview__element { width: percentage(4/12); }
			&--sm-4 .styleguide-preview__element { width: percentage(3/12); }
			&--sm-6 .styleguide-preview__element { width: percentage(2/12); }
			&--sm-12 .styleguide-preview__element { width: 100% }
		}
		@media (min-width: @screen-md-min) {
			&--md-2 .styleguide-preview__element { width: percentage(6/12); }
			&--md-3 .styleguide-preview__element { width: percentage(4/12); }
			&--md-4 .styleguide-preview__element { width: percentage(3/12); }
			&--md-6 .styleguide-preview__element { width: percentage(2/12); }
			&--md-12 .styleguide-preview__element { width: 100% }
		}
		@media (min-width: @screen-lg-min) {
			&--lg-2 .styleguide-preview__element { width: percentage(6/12); }
			&--lg-3 .styleguide-preview__element { width: percentage(4/12); }
			&--lg-4 .styleguide-preview__element { width: percentage(3/12); }
			&--lg-6 .styleguide-preview__element { width: percentage(2/12); }
			&--lg-12 .styleguide-preview__element { width: 100% }
		}

		&--vertical {
			display: flex;
			flex-wrap: wrap;

			.styleguide-preview__element {
				padding: @styleguide-wrapper-padding !important;

				@media (min-width: @screen-md-min) {
					padding: @styleguide-wrapper-padding-md !important;
				}
			}
		}

		&--hasmodifier,
		&--vertical {
			.styleguide-preview__element {
			    border: 1px rgba(0,0,0,.1) dotted;
			    border-left: 0;
			    border-top: 0;
			    display: block;
				position: relative;
			}
		}

	}

	&__element--modifier {
		/* border-top: 1px rgba(0,0,0,.05) solid;
		margin-top: 3px;
		padding-top: 2px; */
	}

	&__element__modifier-label {
	    display: inline-block;
	    font-size: @font-size-small;
	    color: #FFF;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background: #000;
	    padding: 0.2em 0.5em;
	    white-space: nowrap;
	    max-width: 100%;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    .opacity(.6);
	    .transition(~".2s all");

	    &:hover {
	    	.opacity(1);
	    }
	}
}